.budget-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.budget-item-title {
  cursor: pointer;
}

.budget-item-content {
  display: flex;
  flex-direction: row;
}

.budget-item-delete-button {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}
